<div class="container-fluid">
  <h1>Top Collègues</h1>
  <h5>Le meilleur collègues du moment</h5>
  <form>
    <div class="form-group row">
      <label for="inputPseudo" class="col-sm-2 col-form-label">Pseudo</label>
      <div class="col-sm-10">
        <input type="text" #pseudo class="form-control" id="inputPseudo" placeholder="Pseudo">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputUrlImage" class="col-sm-2 col-form-label">URL image</label>
      <div class="col-sm-10">
        <input type="text" #imageUrl class="form-control" id="inputUrlImage" placeholder="URL de l'image">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button (click)="add(pseudo, imageUrl)" class="btn btn-primary">Ajouter un nouveau collègue</button>
        <ngb-alert *ngIf="afficherAlert" type="success" (close)="afficherAlert=false">Collègue ajouté!</ngb-alert>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row ml-5">
    <div *ngFor='let collegue of collegues'>
      <app-un-collegue [collegue]="collegue"></app-un-collegue>
    </div>
  </div>
</div>